@use '../abstracts/variables';

// color utility start
.text-color-primary {
    color: variables.$color-text-primary;
}

.text-color-secondary {
    color: variables.$color-text-secondary;
}

.color-primary {
    color: variables.$color-primary !important;
}

.color-secondary {
    color: variables.$color-secondary !important;
}

.bg-color-primary {
    background-color: variables.$color-primary;
}

.bg-color-primary-dark {
    background-color: variables.$color-primary-dark;
}

.hover-bg-color-primary:hover {
    background-color: variables.$color-primary;
}

// end of color utility


.place-items-center {
    place-items: center;
}

.min-h-screen {
    min-height: 100vh;
}

.py-60px {
    padding-top: 60px;
    padding-bottom: 60px;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75%;
    }

    .py-lg-80px {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


.required-container {
    max-width: 1220px;
}

.section-heading {
    font-weight: 700;
    font-size: 48px;

    @media (max-width:767px) {
        font-size: 32px;
    }
}